
@{
    ViewData["Title"] = "About Us";
}
<style>
/* Styles for the body */
    body {
        font-family: 'Courier New', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: palegoldenrod;
    }

/* Styles for the headings */
h1 {
        color: black;
        margin-top: 20px;
        text-align: center;
}

h4 {
    color:black;
    margin-top: 20px;
    font-weight: bold;

}

/* Styles for paragraphs */
p {
    color:black;
    margin-top: 10px;
}

/* Styles for unordered lists */
ul {
    padding: 2;
}

ul li {
    margin-bottom: 5px;
}

/* Styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>

<body>
<h1>About Us</h1>


<h4>Introduction</h4>
<p>My name is James Khumalo and I am 32 years of age. I started my business in 2018, and have been selling my work since then. My goal is to become global and reach most counties, having this website will help me to acheive that goal. Handmade goods are the only focus of KhumaloCraft, an artisanal company. KhumaloCraft is a company that is passionate about innovation and craftsmanship. It provides a wide selection of artisanal products that are all expertly made with careful attention to detail. The company specialises in creating one-of-a-kind, genuine products that showcase artistic flare, cultural history, and environmentally friendly methods.</p>
 
<h4>Products</h4>
<p>
    <ul>
    <li>Pottery and ceramics</li>
    <li>Textiles and fabrics</li>
    <li>Woodwork and carving</li>
    <li>Jewelry and accessories</li>
    </ul>
</p>

<h4>Location</h4>
<p>We have 4 stores in South Africa:
    <ul>
        <li>Cape Town</li>
        <li>Durban</li>
        <li>Johannesburg</li>
        <li>Plettenburg Bay</li>
    </ul>
</p>

<h4>Our Mission</h4>
    <p>Our goal is to create a platform that is worldwide, we want our store to deliver gloabally. This will give us a name and help grow our business. Having Many store all over the world, will expand sales and create more clientele. Our mission is to provide a vibrant marketplace where talented crafters can showcase their unique creations and connect with a community of like-minded individuals who appreciate handmade goods.</p>

</body>
