@{
    ViewData["Title"] = "Home Page";
}
<h1>Home</h1>
<style>
    /* Styles for the body */
    body {
        font-family: 'Courier New', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: palegoldenrod;
    }

    /* Styles for the headings */
    h1 {
        color: black;
        margin-top: 20px;
        text-align: center;
    }

    h2 {
        color: black;
        margin-top: 20px;
        font-weight: bold;
    }

    /* Styles for paragraphs */
    p {
        color: black;
        margin-top: 10px;
    }

    /* Styles for unordered lists */
    ul {
        padding: 2;
    }

        ul li {
            margin-bottom: 5px;
        }

</style>

<body>
        <h2>Welcome to Our Website</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <li><a href="/MyWork">My Work</a></li>
                <li><a href="/ContactUs">Contact Us</a></li>
            </ul>

            <h2>About Us</h2>
            <p>Welcome to our website! We are dedicated to providing high-quality products and services to our customers.</p>
    
</body>
